<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ "TheAuction" }} &ndash; {% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
        crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/bootstrap-datetimepicker.min.css">
    <link rel="stylesheet" href="/static/css/style.css">

</head>
{% block head %}{% endblock %}

{% include "partials/nav.html" %}

{% block content %}{% endblock %}

<body>

    {% include "partials/footer.html" %}
</body>

</html>